.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  //background-color: rgba(0, 0, 0, .8);
  //background-color: rgba(255, 255, 255, 0.08);
  background-color: rgba(24, 24, 24, .8);;
  backdrop-filter: saturate(180%) blur(20px);
  //border-bottom: 2px solid $color-black;
  .container {
    max-width: 1300px;
  }

  .header__logo {
    img {
      width: 80px;
    }
  }

  a {
    display: block;
    color: $color-white;
  }

  .header__menu {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .disabled,
    a {
      user-select: none;
      font-size: 15px;
      font-weight: 400;
      font-family: $Bahnschrift;
      //padding: calc(15px + .32vw) calc(20px + 1.95vw);
      padding: 20px calc(20px + 1.95vw);
      cursor: pointer;

      &.router-link-exact-active,
      &:hover {
        background-color: rgba(255, 255, 255, .08);
      }

      &.animated {
        span {
          display: block;
          animation: shake 0.7s cubic-bezier(.36, .07, .19, .97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;
        }
      }
    }
  }

  .header__menu__wrapper{
    flex: 1 1;
    display: flex;
    align-items: center;
  }

  .header__menu__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header__lang {
    //border-radius: 12px;
    //border: 2px solid $color-white;
    transform: scale(1);
    transition: transform .725s cubic-bezier(.445, .05, .55, .95);

    &:hover {
      transform: scale(.93);
      transition: transform .35s cubic-bezier(.445, .05, .55, .95);
    }

    li {
      position: relative;
      z-index: 1;
      top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 30px;
      //height: 30px;
      width: 25px;
      height: 25px;
      font-size: 10px;
      font-weight: 900;
      border-radius: 100%;
      cursor: pointer;
      border: 2px solid $color-white;
      text-transform: uppercase;
      &.active{
        display: none;
      }
      .text{
        display: none;
      }
    }

    svg {
      width: 30px;
      height: 30px;

      *{
        stroke: $color-white;
        fill: $color-white;
      }
      .st0 {
        display: none;
      }

      .st1 {
        display: inline;
      }
    }
  }

  .header__menu__social {
    display: none;
  }

  .header__mobile {
    display: none;
  }
}

@media screen and (max-width: $tablet-screen) {
  .header {
    padding: 10px 0;
    background-color: $color-gray-dark;
    backdrop-filter: unset;

    &.menu_active {
      .header__menu {
        height: calc(100vh - 49px);
      }

      .header__menu__wrapper {
        visibility: visible;
      }

      .header__mobile__burger {
        span {
          left: 100%;
        }
      }

      .header__mobile__cross {
        opacity: 1;

        span {
          width: 100%;
        }
      }
    }

    .wrapper {
      justify-content: space-between;
    }

    .header__lang {
      display: flex;
      padding-bottom: 40px;
      &:hover{
        transform: unset;
      }
      li{
        width: auto;
        height: auto;
        border: none;
        border-radius: 0;
        text-transform: none;
        user-select: none;
        font-size: 15px;
        font-weight: 400;
        font-family: $Bahnschrift;
        .icon{
          display: none;
        }
        .text{
          display: block;
        }
      }
    }

    .header__mobile {
      position: relative;
      display: block;
    }

    .header__mobile__burger,
    .header__mobile__cross {
      position: relative;
      z-index: 1;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      overflow: hidden;
      transition: opacity .3s ease-in-out;

      span {
        position: absolute;
        z-index: 1;
        width: 16px;
        height: 2px;
        left: 0;
        background-color: $color-white;
        border-radius: 1px;
        transition: width $transition-regular, left $transition-regular;

        &:not(:last-child) {
          margin-bottom: 3px;
        }

        &:nth-child(1) {
          top: calc(50% - 6px);
          transition-delay: .1s;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
          transition-delay: .2s;
        }

        &:nth-child(3) {
          top: calc(50% - -4px);
          transition-delay: .3s;
        }
      }
    }

    .header__mobile__cross {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      opacity: 0;
      transform: rotate(135deg);

      span {
        width: 0;
        transform-origin: left;

        &:nth-child(1) {
          top: -1px;
          left: 8px;
          transform: rotate(90deg);
          transition-delay: .4s;
        }

        &:nth-child(2) {
          top: 7px;
          left: 16px;
          transform: rotate(180deg);
          transition-delay: .7s;
        }
      }
    }

    .header__menu {
      position: absolute;
      z-index: -1;
      top: 49px;
      left: 0;
      right: 0;
      display: block;
      margin: 0;
      width: 100%;
      min-width: 1024px;
      height: 0;
      user-select: none;
      background-color: $color-gray-dark;
      overflow-x: hidden;
      overflow-y: scroll;
      transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height .56s cubic-bezier(0.52, 0.16, 0.24, 1);

      .disabled {
        display: none;
      }

      a {
        padding: 20px 0;

        &.router-link-exact-active,
        &:hover {
          background-color: transparent;
        }
      }
    }

    .header__menu__wrapper {
      padding: 0 30px;
      display: block;
      visibility: hidden;
      transition: visibility .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .header__menu__nav {
      padding: 40px 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .header__menu__social {
      display: flex;

      a {
        padding: 0;
        //width: 35px;
        //height: 35px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
      svg {
        width: 100%;
        height: 100%;

        *{
          stroke: $color-white;
          fill: $color-white;
        }
      }
    }
  }
}