::-webkit-scrollbar {
  width: 0;
}

h1, h2 {
  font-size: $font-big;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-family: $SegoeUI;
}

body {
  overflow-x: hidden;
  font-family: $Bahnschrift;
  letter-spacing: .5px;
  color: $color-white;
}

.page_wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 100vw;
  background-color: $color-black;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1360px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main {
  flex: 1 1;
  padding-top: $main-padding;
  overflow-x: hidden;
}

.header__sticky__burger {
  visibility: hidden;
  transform: scaleX(0)
}

@media screen and (max-width: $tablet-screen) {
  .main {
    padding-top: $main-padding-mobile;
  }
}